body, margin {
  margin: 0;
  padding: 0;
bootstrap.css
}

.photo {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url('../img/sonny.jpg') no-repeat 50% 50%;
  display: table;
  top: 0;
  height: 100vh;
  background-size: cover;
}

.content {
  display: table-cell;
  vertical-align: bottom;
  max-width: 100%
}

.inside-content {
  font-family: skia;
  text-shadow: 6px, 6px;
  color: gray;
  font-size: 65px;
  font-weight: bolder;
  padding: 20px;
}

.color {
  color: yellow;
  font-size: 82px;
  font-weight: bold;
}

.btn {
  font-family: skia;
  font-size: 55px;
  font-weight: bolder;
  color: green;
  text-transform: uppercase;
  text-decoration: none;
  border: solid;
  border-color: rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 40px, 40px;
  text-align: center;
}

.white {
  color: #FFF;
}

.btn:hover {
  color: red;
}

.projects {
  margin: 12px;
  font-family: skia;
  float: left;
  font-size: 20px;
}

.big {
  font-size: 55px;
}

.projects .list {
  list-style: none;
}

.projects li a {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}

.projects li a:hover {
  color: green;
}

.program {
  font-style: italic;
}

.well {
  font-size: 22px;
  font-family: skia;
  text-align: center;
  list-style: none;
}

.well p {
  font-size: 20px;
}

.well li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.skills {
  text-overflow: ellipsis;
  color: black;
}

.skills:hover {
  color: white;
}

.col-md-4- {
  font-family: skia;
}

#camera {
  text-align: center;
  font-family: skia;
  color: black;
}

img {
  width: 200px;
  height: 200px;
  display: table-cell;
  vertical-align: middle;
  border: gray;
  border-style: solid;
  border-width: 3px;
}

.icons {
text-align: center;
font-size: 300%;
color: black;
padding: 3em;
box-sizing:border-box;
}
.icons a {
color: black;
}
a:hover {
color: gray;
}

#end {
  font-size: 15px;
  color: gray;
}


@@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }

  .btn {
    font-size: 110%;
    padding: 7px 15px;
  }

  p {
    font-size: 100%;
    line-height: 160%;
  }
